/*Selection de la police Raleway via Google Front*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
#main {
  margin: 0 50px 50px;
}

.img_width_activites {
  width: 23%;
}

/* MENU */

header {
  justify-content: space-between;
  margin-bottom: 35px;
}

.logo {
  margin-top: 30px;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav li {
  padding-top: 40px;
}

nav a {
  padding: 40px 30px 0;
}

nav li a:hover {
  border-top: 2px solid #0065fc;
  cursor: pointer;
  padding-top: 38px;
}

/* HEADER */
.search {
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
}

p {
  color: grey;
}

.color_blue {
  color: #0065fc;
}

.color_grey {
  color: #c7c7c7;
}

.search_Bar {
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
  margin-bottom: 30px;
  height: 50px;
}

.fa-map-marker-alt {
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.search_text {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  border: none;
}

.search_btn {
  font-size: 16px;
  background-color: #0065fc;
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  font-family: "Raleway", sans-serif;
  border-width: inherit;
}
.search_btn i {
  display: none;
}

/* FILTRES */

.filters {
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.textFilter {
  align-self: center;
}
.filter {
  align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.filter span {
  padding-left: 12px;
}

.filterList {
  flex-wrap: wrap;
}
.filter:hover {
  cursor: pointer;
  color: #0065fc;
}

.iconFilter {
  position: relative;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
}

.iconFilter i {
  margin: auto;
  color: #0065fc;
}

.iconInfo {
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  margin-right: 10px;
}

.iconInfo i {
  margin: auto;
  font-size: 0.9rem;
  color: #0065fc;
}
/* HERBERGEMENT*/

.hotels {
  justify-content: space-around;
  align-items: center;
}

.hotels_bloc {
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  flex: 2;
  height: 700px;
  margin-right: 20px;
  border-radius: 10px;
}

.hotels_line {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.hotels_contents {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotels_details {
  width: 90%;
}

.img_hotels {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.hotels_contents:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* LES PLUS POPULAIRES */

.popular {
  flex: 1;
  height: 700px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}

.title_popular {
  justify-content: space-between;
  align-items: center;
}

.popular_bloc {
  flex-direction: column;
  justify-content: space-around;
}

.popular_contents {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.popular_contents:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.img_popular {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.popular_details {
  width: 60%;
  padding-left: 5%;
}

/* LES ACTIVITÉS */

.activities {
  margin-top: 50px;
  margin-bottom: 50px;
}

.activities_title {
  padding-left: 30px;
}

.activites_bloc {
  justify-content: space-between;
  width: 100%;
}

.bloc_two_activites {
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
}

.activities_contents {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.img_one_activity {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 15px 15px 0 0;
}

.img_two_activities {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.activities_title_details {
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
  height: 70px;
}

.img_one_activity:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.img_two_activities:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* FOOTER */

.footer {
  background-color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-left: 0;
}

.footer_about {
  height: 150px;
  margin-left: 5%;
}

.footer_hotels {
  height: 150px;
}

.footer_assistance {
  height: 150px;
  margin-right: 15%;
}

.footer_link {
  height: 30px;
}

.footer_link a {
  text-decoration: none;
  color: black;
}

/* Tablet version */
@media screen and (max-width: 992px) {
  /* Filtres */

  .filters {
    flex-direction: column;
  }

  .textFilter {
    align-self: auto;
    margin-bottom: 15px;
  }

  .filter {
    margin: 0 1rem 1rem 0;
  }

  /* Hébergement */

  .hotels {
    flex-direction: column-reverse;
    width: 100%;
  }

  .hotels_bloc {
    width: 100%;
    margin-right: 0;
    margin-top: 50px;
  }

  /* Les plus populaires */

  .popular {
    width: 100%;
    margin-left: 0;
  }
}

/* Media query les portables avec écran inférieur à 768px */

@media all and (max-width: 768px) {

  #main{
    margin: 0;
  }

  /* MENU */

  header {
    flex-direction: column;
    margin: 0;
  }
  .logo {
    margin-left: 20px;
    text-align: center;
  }

  nav {
    order: 3;
  }

  nav ul {
    width: 100%;
  }
  nav li a {
    padding: inherit;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-bottom-color: #0065fc;
  }

  nav li {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
  }

.search{
  margin: 30px 20px 30px 20px;
}

  .search_Bar {
    width: auto;
    border: none;
  }

  .search_text {
    width: 200px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    flex: 1;
  }

  .search_btn {
    width: 50px;
    border-radius: 15px;
    position: relative;
    left: -20px;
  }

  .search_btn span {
    display: none;
  }

  .search_btn i {
    display: inline-block;
  }

  /* Pour Hébergement*/

  .hotels_bloc {
    flex: none;
    width: 90%;
    height: auto;
    margin-right: 0;
    margin-top: 50px;
    padding: 5%;
    background-color: white;
    min-height: auto;
    padding: 20px;
    background-color: #f2f2f2;
  }

  .hotels_line {
    flex-direction: column;
  }

  .hotels_line {
    flex-direction: column;
  }

  .hotels_contents {
    width: 100%;
    margin-bottom: 25px;
  }

  .hotels_details {
    min-height: auto;
  }

  /* Pour populaires */

  .popular {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
    min-height: auto;
    padding: 20px;
    border-radius: 0;
  }

  /* Activities */

  .activites_bloc {
    flex-direction: column;
    height: auto;
    padding: 5%;
    width: 90%;
  }

  .activities_contents {
    width: 100%;
    margin-bottom: 50px;
  }

  .bloc_two_activites {
    width: 100%;
    height: auto;
  }

  .img_one_activity,
  .img_two_activities {
    height: 200px;
  }

  /* Footer */

  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 30px;
  }

  .footer_about {
    margin-left: 0;
  }

  .footer_assistance {
    margin-right: 0;
  }
}
