 /*Selection de la police Raleway via Google Front*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{font-family : 'Raleway', sans-serif;
    justify-content: center;
    margin: 8px;
}

/* MENU */

.menu_nav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 120px;
    height: 50px;
    margin-bottom: 7px;
}

.menu{
    margin-left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_text{
    width: 140px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid transparent;
}

.menu_text a {
    color: black;
    text-decoration: none;
}

.menu_text:hover {
    border-top: 2px solid #0065fc;
    cursor: pointer;
  }
.menu_text:hover > a {
    color: #0065fc;
  }

/* HEADER */

h1{
    font-size: 30px;  
}

p{
    color: grey;
}

.color_blue {
    color: #0065fc;
  }

  .color_grey {
    color: #c7c7c7;
  }

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.icon_search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.search_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    border: none;
}

.search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.desktop_none{
    display: none;
}

/* FILTRES */

.filtres{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_filtres{
    margin-right: 20px;
}

.menu_filtres{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.icons:hover > .filtres_text{
    color: #0065fc;
}

.icons:hover > .filtres_icons{
    color: white;
    background-color: #0065fc;
}

.filtres_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

.filtres_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.info  {
    display: flex;
    align-items: center;
}

.logo_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    color: #0065fc;
}

/* HERBERGEMENT*/

#hebergements{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hebergement_general{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.Bloc1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Bloc2{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.Cube_hebergements {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_hebergement {
    width: 90%;
  }

.img_hebergement1{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergement2{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergement3{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergement4{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergement5{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img_hebergement6{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.Cube_hebergements:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

/* LES PLUS POPULAIRES */

.populaire_general{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}

.titre_populaire{
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.Cube_populaire_general{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cube_populaire1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}

.Cube_populaire2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}

.Cube_populaire3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}

.img_populaire1{
     object-fit: cover;
     width: 35%;
     height: 160px;
     border-radius: 15px 0 0 15px; 
}

.img_populaire2{
    object-fit: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px; 
}

.img_populaire3{
    object-fit: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px; 
}

.details_populaire{
    width: 60%;
    padding-left: 5%;
}

.Cube_populaire1:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

.Cube_populaire2:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

.Cube_populaire3:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

/* LES ACTIVITÉS */

#activities{
    margin-top: 50px;
    margin-bottom: 50px;
}

.titre_bloc_activities{
    padding-left: 30px;
}

.bloc_activities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;   
}

.cube_two_activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}

.activitie_one_picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activitie_two_pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.img_activitie1{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.img_activitie2{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.img_activitie3{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.img_activitie4{
    object-fit: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}

.img_activitie5{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.img_activitie6{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.titre_activitie{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
}

.activitie_one_picture:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

.activitie_two_pictures:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

/* FOOTER */

.footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-left: 0;
}

.footer_bloc1{
    height: 150px;
    margin-left: 5%;
}

.footer_bloc2{
    height: 150px;
}

.footer_bloc3{
    height: 150px;
    margin-right: 15%;
}

.div_footer_lien{
    height: 30px;
}

.footer_lien{
    text-decoration: none;
    color: black;
}



/* Media query les portables avec écran inférieur à 768px */

@media all and (max-width:768px)
{


/* MENU */

    .menu_nav {
        flex-direction: column;
        
    }
    .menu{
        order: 1;
        width: 100%;
        margin-left: 0;
    }

    .menu_text{
        flex-direction: row;
        width: 50%;
        border-top: 0;
        border-bottom: 5px solid #f2f2f2;
    }

    .menu_text:hover{
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }

    .box{
        width: auto;
        border: none;
    }

    .search_text{
        width: 200px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }

    .search_btn{
        width: 50px;
        border-radius: 15px;
    }
    
    .mobile_none{
        display: none;
    }

    .desktop_none{
        display: block;
    }

/* Filtres */

    .mobile-filtre-wrap {
        flex-direction: column;
        align-items: flex-start;
      }

    .mobile-economiques {
        margin-right: 5px;
      }
    .mobile-familiales {
        margin-right: 0;
      }

    .icons{
        margin-bottom: 20px;
          }
      
/* Pour Hébergement*/

    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
     }
      
      .hebergement_general{
        flex: none;
        width: 90%;
        height: auto;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
        background-color: white;
        min-height: auto;
        padding: 20px;
      }

      .Bloc1{
          flex-direction: column;  
      }

      .Bloc2{
        flex-direction: column;    
    }

    .Cube_hebergements{
        width: 100%;
        margin-bottom: 25px;
    }

    .details_hebergement{
        min-height: auto;
    }

    .titre_populaire{
        margin-top: 0;
    }

/* Pour populaires */

      .populaire_general {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
        min-height: auto;
        padding: 20px;
        border-radius: 0;
      }

/* Activities */

#activities{
    margin-bottom: 0;
}

.bloc_activities{
    flex-direction: column;
    height: auto;
    padding: 5%;
    width: 90%;
}

.activitie_one_picture{
    width: 100%;
    margin-bottom: 50px;
}

.cube_two_activities{
    width: 100%;
    height: auto;
}

.activitie_two_pictures{
    margin-bottom: 50px;
}

.img_activitie1,.img_activitie2,.img_activitie3,
.img_activitie4,.img_activitie5,.img_activitie6{
    height: 200px;
}

/* Footer */

    .footer{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 30px;
    }

    .footer_bloc1{
        margin-left: 0;
    }

    .footer_bloc3{
        margin-right: 0;
    }

}   
    

